<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo</title>
  <style>
    body {
      overflow-x: hidden;
    }

    .console-wrapper {
      margin: auto;
      padding: 12px;
      padding-bottom: 400px;
      width: 80%;
      background: #eee;
    }
  </style>
</head>

<body>
<div style="position:fixed;bottom:0px;right:-10px;width:100%;height:250px;text-align:start;background:#ccc;z-index:2;overflow:hidden; ">
  <div>
    Token：<input id="Token" type="text" class="form-control" value="123456"/>
    城市：<input id="City" type="text" class="form-control" value="wuhan"/>
    如果类型是Dispatcher,SubstationNo需要传：<input id="ClientNo" type="text" class="form-control" value="10010"/>
    登录类型：<select id="ClentType">
    <option>Dispatcher</option>
    <option>WebClient</option>
  </select>
    <button type="button" class="btn btn-default" onclick="login()">登录</button>
    <button type="button" class="btn btn-default" onclick="heartBeat()">发送心跳</button>
  </div>
  <div>
    <span id="Stats"></span>
  </div>
  <div>
    <textarea id="toCMsg" type="text" class="form-control" style="width: 400px;height: 200px">
      {
        "action": "Data",
        "MsgNo": 1,
        "MessageType": "Control",
        "Data": {
           "DeviceID":"f96daf82-bc6d-11eb-aa59-0242ac110006",
           "SubstationNo":10010,
           "Action":1
        },
        "Time": "2021-05-06 12:00:00"
      }
    </textarea>
    <button type="button" class="btn btn-default" onclick="toCMsg()">提交(给服务端发消息)</button>
  </div>
</div>
<div class="console-wrapper">
  <pre id="console"></pre>
</div>
<script src="/public/js/socket.io.js"></script>
<script src="/public/js/lodash.min.js"></script>
<script>
  // 不重要的代码，仅展示使用 - start
  const con = document.querySelector('#console');
  const toCMsgVal = document.querySelector('#toCMsg');
  const doc = document.documentElement;
  const wh = document.documentElement.clientHeight;

  const _scrollToBottom = (function () {
    return _.throttle(function () {
      doc.scrollTop = doc.scrollHeight;
    }, 100);
  })();

  const scrollToBottom = function () {
    if (doc.scrollHeight > wh) {
      _scrollToBottom();
    }
  };

  const log = function () {
    let msgList = [].slice.apply(arguments);
    msgList = msgList.map(function (msg) {
      if (typeof msg !== 'object') {
        return msg;
      }
      try {
        return JSON.stringify(msg, null, 2);
      } catch (error) {
        return _.toString(msg);
      }
    });
    con.innerText += new Date().toLocaleString() + ' ' + msgList.join('') + '\n';
    scrollToBottom();
    console.log.apply(null, arguments);
  };

  // 不重要的代码，仅展示使用 - end
  var clients = [];

  function toCMsg() {
    var obj = JSON.parse(toCMsgVal.value);
    //{
  //   MsgNo:1, --消息编号
  //   MessageType:1, --消息类型
  //   Data:object    --消息数据体
  //   Time:"2021-05-08 11:24:59"   --时间
  // }
    socket.emit(obj.action, {
      MsgNo: obj.MsgNo,
      MessageType:obj.MessageType,
      Data: obj.Data,
      Time: obj.Time
    });
  }

  function login() {
    const Token = document.querySelector('#Token').value;
    const ClentType = document.querySelector('#ClentType').value;
    const ClientNo = document.querySelector('#ClientNo').value;
    const City = document.querySelector('#City').value;
    socket.emit('Login', {
      ClientType: ClentType,
      City: City,
      ClientNo: ClientNo, //默认给个
      Token: Token
    });
    //登录后，写入状态
    document.querySelector('#Stats').innerHTML  = `登录成功，类型：${ClentType}，id：${socket.id}`;
  }

  function heartBeat(){
    socket.emit('Data', {
      MessageType:'HeartBeat'
    });
    alert("已发心跳");
  }

  window.onload = function () {
    // init
    const socket = io('/', {

      // 实际使用中可以在这里传递参数
      // query: {
      //   room: 'substation',
      //   userId: `client_${Math.random()}`,
      // },

      transports: ['websocket']
    });

    socket.on('connect', () => {
      const id = socket.id;

      log('#connect,', id, socket);

      // 监听自身 id 以实现 p2p 通讯
      socket.on(id, msg => {
        log('#receive,', msg);
      });
    });

    // 接收在线用户信息
    socket.on('online', msg => {
      clients = msg.clients;
      log('#online,', msg);
    });

    socket.on('Data', msg => {
      log('#Data,', msg);
    });

    // 系统事件
    socket.on('disconnect', msg => {
      log('#disconnect', msg);
    });

    socket.on('disconnecting', () => {
      log('#disconnecting');
    });

    socket.on('error', msg => {
      log('#error', msg);
    });

    window.socket = socket;
  };

</script>
</body>

</html>
